.conten{
    margin-right: 10px;
    /* width: 50%; */
    cursor: pointer;
}

.conten_form{
     position: relative;
     display: flex;
     align-items: center;
     height: 42.5px;
     padding: 0 10px;
     border-radius: 50px;
     background: #F1F6F9;
}

.conten_form button{
    display: none;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: normal;
    align-items: center;
    background: transparent;
    border-right: 2px solid #4444;
    justify-content: center;
}
.conten_form_input{
    display: flex;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    height: 100%;
    width: 100%;
}

.conten_form i{
    /* position: absolute;
    right: 10px; */
    display: flex;
    align-items: center;
}

@media screen and (max-width: 760px){
    .conten{
        width: 80%;
    }

}